<section class="container vh-100 py-2">
  <div
    class="card mb-3 bg-light bg-opacity-25 border border-3 border-primary rounded-2 body"
  >
    <div class="d-flex h-100 justify-content-center align-items-center">
      <div class="d-none d-md-block col-md-6 rounded-2 body__picture"></div>
      <div class="d-flex flex-column col-md-6 h-100 body__wrapped">
        <div class="my-auto mx-3">
          <h3 class="text-center fs-1 mb-3">Registro</h3>
          <div class="text-center mb-5">
            <img
              src="/assets/images/locked.png"
              alt="Imagen de un candado"
              class="body__image"
            />
          </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="userRegister" autocomplete="off" class="body__form">
            <div class="form-floating mb-3 col-8 offset-2">
              <input
                class="form-control bg-light bg-opacity-25 text-light border-light border-opacity-25"
                type="email"
                formControlName="email"
                id="email"
                placeholder="Email"
                [ngClass]="{ 'is-invalid': Email?.invalid && Email?.touched, 'is-valid': Email?.valid && Email?.touched }"
              />
              <label class="text-dark" for="email">Email</label>
              <span class="text-danger" *ngIf="Email?.hasError('required') && Email?.touched">
                El <strong>Email</strong> es requerido
              </span>
              <span class="text-danger" *ngIf="Email?.hasError('email') && Email?.touched">
                El <strong>Email</strong> no es válido
              </span>
            </div>
            <div class="form-floating mb-3 col-8 offset-2">
              <input
                class="form-control bg-light bg-opacity-25 text-light border-light border-opacity-25"
                type="password"
                formControlName="password"
                id="password"
                placeholder="Contraseña"
                [ngClass]="{ 'is-invalid': Password?.invalid && Password?.touched, 'is-valid': Password?.valid && Password?.touched }"
              />
              <label class="text-dark" for="password">Contraseña</label>
              <span class="text-danger" *ngIf="Password?.hasError('required') && Password?.touched">
                La <strong>Contraseña</strong> es requerida
              </span>
            </div>

            <div class="form-floating mb-3 col-8 offset-2">
              <input
                class="form-control bg-light bg-opacity-25 text-light border-light border-opacity-25"
                type="password"
                formControlName="passRepeat"
                id="passRepeat"
                placeholder="Repetir Contraseña"
                [ngClass]="{ 'is-invalid': PassRepeat?.invalid && PassRepeat?.touched, 'is-valid': PassRepeat?.valid && PassRepeat?.touched }"
              />
              <label class="text-dark" for="passRepeat">Repetir Contraseña</label>
              <span class="text-danger" *ngIf="PassRepeat?.hasError('required') && PassRepeat?.touched">
                Repetir la <strong>Contraseña</strong> es requerido
              </span>
            </div>
            <input
              type="submit"
              class="btn bg-primary bg-opacity-75 text-light col-8 offset-2 mb-3 login__button"
              value="Registrase"
            />
          </form>
          <div class="text-center">
            <a class="text-primary" routerLink="/login"> Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
