<section class="container vh-100 py-2">
    <div
      class="card mb-3 bg-light bg-opacity-25 border border-3 border-primary rounded-2 body"
    >
      <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="d-none d-md-block col-md-6 rounded-2 body__picture"></div>
        <div class="d-flex flex-column col-md-6 h-100 body__wrapped">
          <div class="my-auto mx-3">
            <h3 class="text-center fs-1 mb-3">Verificación</h3>
            <div class="text-center mb-5">
              <img
                src="/assets/images/locked.png"
                alt="Imagen de un candado"
                class="body__image"
              />
            </div>
                <p class="text-center fs-5">Se le envió un mail de verificación, por favor verifique en la carpeta Spam</p>
            <div class="text-center">
              <a class="text-primary" routerLink="/login"> Volver</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
